---
import IconValuePair from "../IconValuePair.astro";

const { project } = Astro.props;
const lastUpdated = new Date(project.lastUpdated);
const lastUpdatedDateTime = lastUpdated.toLocaleDateString() + " " + lastUpdated.toLocaleTimeString();
---

<div class="bg-zinc-900 flex p-4 gap-4 rounded">
    <a href="/project">
        <img src={project.avatarUrl} alt="" class="w-24 rounded">
    </a>
    <div class="w-full">
        <div class="flex flex-col justify-between h-full gap-2">
            <div>
                <p class="flex gap-2 items-center">
                    <a href="/project" class="font-bold text-xl hover:text-blue-500">{project.name}</a>
                    <span class="text-gray-500">by</span>
                    <a class="inline-flex text-blue-500 hover:text-blue-300" href="/user/">{project.namespace.owner}</a>
                </p>
                <p class="text-sm">{project.description}</p>
            </div>
            <div class="text-zinc-500 flex text-right gap-4 text-sm">
                <IconValuePair name="fa6-solid:list" value={project.category} />
                <IconValuePair name="fa6-solid:star" value={project.stats.stars} />
                <IconValuePair name="fa6-solid:download" value={project.stats.downloads} />
                <IconValuePair name="fa6-solid:clock" value={lastUpdatedDateTime} />
            </div>
        </div>
    </div>
</div>