---
import { Icon } from 'astro-icon/components'

const platforms = ["paper", "velocity", "waterfall"];
const tags = ["Addon", "Library", "Supports Folia"];
const categories = [
    "Admin Tools",
    "Chat",
    "Developer Tools",
    "Economy",
    "Gameplay",
    "Games",
    "Protection",
    "Role Playing",
    "World Management",
    "Miscellaneous"
    ];

function capitalize(string) {
    return String(string).charAt(0).toUpperCase() + String(string).slice(1);
}
---

<div class="flex flex-col w-full md:w-auto md:sticky top-4">
    <button class="bg-zinc-800 p-4 flex items-center justify-between gap-4 rounded-t">
        <h2>Filters</h2>
        <Icon name="fa6-solid:chevron-down" />
    </button>
    <div class="p-4 flex flex-col gap-4 text-nowrap rounded-b bg-zinc-900">
        <div>
            <h3 class="font-bold">Platform</h3>
            {
                platforms.map((platform) => {
                    const platformId = "filterPlatform" + capitalize(platform);
                    return (
                    <div class="flex gap-2">
                        <input type="radio" name="platform" id={platformId} />
                        <label class="capitalize" for={platformId}>{platform}</label>
                    </div>
                    )
                })
            }
        </div>
        <div>
            <h3 class="font-bold">Tags</h3>
            {
                tags.map(tag => {
                    const tagId = "filterTags" + capitalize(tag);
                    return (
                    <div class="flex gap-2">
                        <input type="checkbox" name="tags" id={tagId} />
                        <label class="capitalize" for={tagId}>{tag}</label>
                    </div>
                    )
                })
            }
        </div>
        <div>
            <h3 class="font-bold">Categories</h3>
            {
                categories.map(category => {
                    const categoryId = "filterCategory" + capitalize(category);
                    return (
                    <div class="flex gap-2">
                        <input type="checkbox" name="category" id={categoryId} />
                        <label class="capitalize" for={categoryId}>{category}</label>
                    </div>
                    )
                })
            }
        </div>
    </div>
</div>