---
const { project } = Astro.props;
---

<a href="/project" class="bg-zinc-900 flex p-4 gap-4 rounded">
    <img src={project.avatarUrl} alt="" class="h-24 rounded">
    <div class="w-full">
        <div class="flex justify-between">
            <div>
                <h2 class="font-bold">{project.name}</h2>
                <p>{project.description}</p>
            </div>
            <div class="text-zinc-500 flex flex-col text-right">
                <div>{project.stats.stars}</div>
                <dir>{project.stats.downloads}</dir>
            </div>
        </div>
        <div class="flex justify-between text-zinc-500">
            <div>{project.category}</div>
            <div>{project.lastUpdated}</div>
        </div>
    </div>
</a>